<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="all">
            <directory>./tests/framework</directory>
            <directory>./tests/module</directory>
        </testsuite>
        <testsuite name="framework">
            <directory>./tests/framework</directory>
        </testsuite>
        <testsuite name="module">
            <directory>./tests/module</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
        <var name="DB_HOST" value="127.0.0.1"/>
        <var name="DB_USER" value="test"/>
        <var name="DB_PASSWD" value="test1234"/>
        <var name="DB_NAME" value="db_test"/>
        <var name="DB_PORT" value="3306"/>
        <var name="EXAMPLE_ROOT" value="example"/>
        <var name="EXAMPLE_NAMESPACE" value="Example"/>
    </php>
</phpunit>